body {
    display: flex;
    font-family: 'Inter', sans-serif;
    user-select: none;
    width: 500px;
    margin: 0 auto;
    background: radial-gradient(circle, rgba(213, 213, 213, 1) 37%, rgba(187, 187, 187, 1) 71%);
    justify-content: center;
    align-items: center;
}

.wrapper {
    box-shadow: 0 0 3px #000;
    border-radius: 20px;
    padding: 30px;
    background: #eeeeee;
}

.coffee-shop-img {
    border-radius: 15px;
}

header {
    width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header h1 {
    top: 215px;
}

header h2 {
    top: 260px;
    font-size: 15px;
}

header h1,
header h2 {
    color: #eeeeee;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

.menu-item {
    display: flex;
    border-bottom: 1px solid #808080;
    width: 85%;
    margin: 0 auto;
}

.menu-item-description {
    margin-top: 10px;
}

.item-ingredients {
    color: #8B8B8B;
    font-size: 13px;
    font-weight: 100;
}

.add-button {
    margin-top: 25px;
    margin-left: auto;
    cursor: pointer;
}

i {
    padding: 5px;
    border-radius: 25%;
    border: 1px solid #bcbcbc;
}

.order-item-list {
    margin: 20px;
}

.order-item-list h4 {
    margin-top: 50px;
    text-align: center;
}

ul {
    margin: 5px;
    padding: 2px;
}

.order-items {
    margin-bottom: 10px;
}

.order-price {
    border-top: 1px solid #000;
}

.remove-button {
    font-size: 12px;
    margin-left: 15px;
    /* background: none; */
    /* border: 1px solid #000; */
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px #000;
    color: rgb(179, 0, 0);
    cursor: pointer;
    display: inline;
    padding: 5px;

    &:hover {
        background-color: rgb(179, 0, 0);
        color: #fff;
    }
}

.complete-order {
    width: 460px;
    height: 50px;
    background-color: #3a2d008a;
    color: #eee;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        background-color: #3a2d00;
        transform: scale(1.1);
    }
}

.payment-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-color: #eee;
}

.payment-modal-inner {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.payment-details {
    margin: 0 0 30px 0;
    padding: 12px;
}

.payment-modal h3 {
    margin: 30px 0 30px 0;
    text-align: center;
}

.pay-button {
    width: 300px;
    padding: 12px;
    background-color: #3a2d008a;
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: #eee;

    &:hover {
        background-color: #3a2d00;
        transform: scale(1.1);
    }
}

.close-modal-btn-container {
    margin: 5px;
    width: 400px;
    text-align: right;

}

.close-modal-btn {
    border: none;
    cursor: pointer;
}

.confirmed-order {
    height: 60px;
    background-color: #3a2d008a;
    border: none;
    border-radius: 5px;
    color: #eee;
}

.awaiting-confirmation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.awaiting-confirmation p {
    margin: 15px 0 0 0;
}

.confirmation-message {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.menu-item-pic {
    width: 150px;
    border-radius: 5px;
    margin: 20px;
    text-shadow: 0 0 3px #000;
    box-shadow: 0 0 3px #000;
    padding: 5px;
    background: #3a2d008a;
    cursor: pointer;

    &:hover {
        background-color: #3a2d00;
        transform: scale(1.1);
    }

}

.loading {
    filter: invert(18%) sepia(0%) saturate(4%) hue-rotate(124deg) brightness(105%) contrast(95%);
}